<?xml version="1.0" encoding="UTF-8"?>
<configuration
  debug="false" scan="true" scanPeriod="30 second">
  <property name="ROOT" value="./bucket/log/"/>
  <property name="APPNAME" value="ardit-su-api"/>
  <property name="FILESIZE" value="500MB"/>
  <property name="MAXHISTORY" value="100"/>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <Target>System.out</Target>
    <encoder charset="utf-8">
      <pattern>[%-5level] %d [%thread] %class{36}.%M:%L - %m%n
      </pattern>
    </encoder>
  </appender>
  <appender name="WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder charset="utf-8">
      <pattern>[%-5level] %d [%thread] %class{36}.%M:%L - %m%n
      </pattern>
    </encoder>
    <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
      <evaluator>
        <expression>return level &gt;= WARN;</expression>
      </evaluator>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${ROOT}${APPNAME}-%d-warn.%i.log</fileNamePattern>
      <maxHistory>${MAXHISTORY}</maxHistory>
      <timeBasedFileNamingAndTriggeringPolicy
        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>${FILESIZE}</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
  </appender>
  <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder charset="utf-8">
      <pattern>[%-5level] %d [%thread] %class{36}.%M:%L - %m%n
      </pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>INFO</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${ROOT}${APPNAME}-%d-info.%i.log</fileNamePattern>
      <maxHistory>${MAXHISTORY}</maxHistory>
      <timeBasedFileNamingAndTriggeringPolicy
        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>${FILESIZE}</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
  </appender>
  <appender name="DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder charset="utf-8">
      <pattern>[%-5level] %d [%thread] %class{36}.%M:%L - %m%n
      </pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>DEBUG</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <rollingPolicy
      class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${ROOT}${APPNAME}-%d-debug.%i.log</fileNamePattern>
      <maxHistory>${MAXHISTORY}</maxHistory>
      <timeBasedFileNamingAndTriggeringPolicy
        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>${FILESIZE}</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
  </appender>
  <appender name="TRACE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder charset="utf-8">
      <pattern>[%-5level] %d [%thread] %class{36}.%M:%L - %m%n
      </pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>TRACE</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <rollingPolicy
      class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${ROOT}${APPNAME}-%d-trace.%i.log</fileNamePattern>
      <maxHistory>${MAXHISTORY}</maxHistory>
      <timeBasedFileNamingAndTriggeringPolicy
        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>${FILESIZE}</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
  </appender>
  <logger name="io.ebean.DDL" level="TRACE"/>
  <logger name="io.ebean.SQL" level="TRACE"/>
  <logger name="io.ebean.TXN" level="TRACE"/>
  <logger name="io.ebean.SUM" level="TRACE"/>
  <logger name="io.ebean.cache.QUERY" level="TRACE"/>
  <logger name="io.ebean.cache.BEAN" level="TRACE"/>
  <logger name="io.ebean.cache.COLL" level="TRACE"/>
  <logger name="io.ebean.cache.NATKEY" level="TRACE"/>
  <root level="INFO">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="WARN"/>
    <appender-ref ref="INFO"/>
    <appender-ref ref="DEBUG"/>
    <appender-ref ref="TRACE"/>
  </root>
</configuration>
